@font-face {
    font-family: eagle-bold;
    src: url(eagle-bold.ttf);
}

html, html a { /* smooth fonts */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#onionImg{    
    width: 7%;
    padding-bottom: 15px;
}

#main-heading {
    font-family: eagle-bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

p.text-muted {
  margin: 20px 0;
}

.equal {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.panel {

  padding: 25px;
}
.btn {
    margin-top: 10px;
    line-height: 1.5em;
}

.btn-success {

  background-color: #006b3a;
}

a:link {
  text-decoration: none;
}

#commentCount {
    border-radius: 1em;
    font-family: arial;
    background: #ffffff;
    font-weight: bold;
    color: #211f1f;
    display: inline-block;
    text-align: center;
    width: 2em;
    margin-left: 6px;
}

.commentPanel {
  margin-top: 10px;
}

form {
  margin-top: 10px;
}